.pagination{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.pagination p{
    font-size: 16px;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 8px;
    padding: 6px 12px;
}

.selected{
    background-color: rgba(135, 166, 150, 0.56);
}

.pagination .points{
    border: none;
    cursor: default;
    font-size: 18px;
}