.growing-card__leaf-icon {
  width: 55px;
}

.growing-card__info p,
.growing-card__status p {
    margin: 0;
}

.growing-card__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.growing-card__status {
    display: flex;
    align-items: center;
    gap: 10px;
}

.growing-card__reviewed {
    font-size: 14px;
    opacity: 0.6;
    margin: 0;
    margin-top: 12px;
}

.growing-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    background-color: #425856;
    border: 1px solid #719F86;
    border-radius: 15px;
    margin-bottom: 18px;
}