.idea-icon {
    width: 24px;
}

.dry-leaf-icon{
    width: 60px;
    /*height: 50px;*/
    transform: rotateY(180deg);
}

.reflection-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    background-color: #425856;
    border-radius: 15px;
    border: 1px solid #719F86;
}

.reflection-idea{
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #AFC1AD;
    border-radius: 18px;
    padding: 8px 12px;
}

.reflection-idea p{
    margin: 0;
    font-size: 14px;
    color: black;
}

.reflecion-card__last-review{
    font-size: 14px;
    opacity: 0.6;
    margin: 0;
    margin-top: 12px;
}

.reflecion-card__title{
    margin: 0;
    margin-bottom: 12px;
}


.reflecion-card__content{
    width: 600px;
}