/**{
    border: red 1px solid;
}*/

.explore-page {
  position: relative;
  height: 90vh;
}

.explore-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding-left: 400px;
}

@media (max-width: 900px) {
  .explore-section {
    padding-left: 0;
    padding-top: 220px;
  }
}

/*.category-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}*/

/*.garden-card {
  position: absolute;
  right: 20px;
  top: 20px;
}

.pagination {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}*/
