/*{
    border: red 1px solid;
}*/

.garden-page {
  position: relative;
  min-height: calc(100vh - 110px);
  min-height: calc(100dvh - 110px);
}

.user-bio {
  position: absolute;
  top: 20px;
  left: 20px;
}

.garden-view {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}

.graph-settings {
  position: absolute;
  right: clamp(12px, 2vw, 20px);
  top: clamp(12px, 2vw, 20px);
}

.add-note-input {
  position: absolute;
  bottom: max(8px, calc(5% - 10px));
  left: 50%;
  transform: translateX(-50%);
}

.garden-page--another-user .garden-list-view {
  top: 125px;
}

@media (max-width: 960px) {
  .garden-page--another-user .garden-list-view {
    top: 132px;
  }
}
