/*{
    border: red 1px solid;
}*/

.garden-page {
  position: relative;
  height: 90vh;
}

.user-bio {
  position: absolute;
  top: 20px;
  left: 20px;
}

.garden-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.graph-settings {
  position: absolute;
  right: 20px;
  top: 100px;
}

.add-note-input {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
}